<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-1" data-toc-modified-id="Challenge-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-all-required-libraries." data-toc-modified-id="Import-all-required-libraries.-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Import all required libraries.</a></span></li><li><span><a href="#Import-data-set." data-toc-modified-id="Import-data-set.-1.0.0.2"><span class="toc-item-num">1.0.0.2&nbsp;&nbsp;</span>Import data set.</a></span></li><li><span><a href="#Print-first-10-rows-of-pokemon." data-toc-modified-id="Print-first-10-rows-of-pokemon.-1.0.0.3"><span class="toc-item-num">1.0.0.3&nbsp;&nbsp;</span>Print first 10 rows of <code>pokemon</code>.</a></span></li><li><span><a href="#Obtain-the-distinct-values-across-Type-1-and-Type-2." data-toc-modified-id="Obtain-the-distinct-values-across-Type-1-and-Type-2.-1.0.0.4"><span class="toc-item-num">1.0.0.4&nbsp;&nbsp;</span>Obtain the distinct values across <code>Type 1</code> and <code>Type 2</code>.</a></span></li><li><span><a href="#Cleanup-Name-that-contain-&quot;Mega&quot;." data-toc-modified-id="Cleanup-Name-that-contain-&quot;Mega&quot;.-1.0.0.5"><span class="toc-item-num">1.0.0.5&nbsp;&nbsp;</span>Cleanup <code>Name</code> that contain "Mega".</a></span></li><li><span><a href="#Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense." data-toc-modified-id="Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense.-1.0.0.6"><span class="toc-item-num">1.0.0.6&nbsp;&nbsp;</span>Create a new column called <code>A/D Ratio</code> whose value equals to <code>Attack</code> devided by <code>Defense</code>.</a></span></li><li><span><a href="#Identify-the-pokemon-with-the-highest-A/D-Ratio." data-toc-modified-id="Identify-the-pokemon-with-the-highest-A/D-Ratio.-1.0.0.7"><span class="toc-item-num">1.0.0.7&nbsp;&nbsp;</span>Identify the pokemon with the highest <code>A/D Ratio</code>.</a></span></li><li><span><a href="#Identify-the-pokemon-with-the-lowest-A/D-Ratio." data-toc-modified-id="Identify-the-pokemon-with-the-lowest-A/D-Ratio.-1.0.0.8"><span class="toc-item-num">1.0.0.8&nbsp;&nbsp;</span>Identify the pokemon with the lowest A/D Ratio.</a></span></li><li><span><a href="#Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2." data-toc-modified-id="Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2.-1.0.0.9"><span class="toc-item-num">1.0.0.9&nbsp;&nbsp;</span>Create a new column called <code>Combo Type</code> whose value combines <code>Type 1</code> and <code>Type 2</code>.</a></span></li><li><span><a href="#Identify-the-pokemon-whose-A/D-Ratio-are-among-the-top-5." data-toc-modified-id="Identify-the-pokemon-whose-A/D-Ratio-are-among-the-top-5.-1.0.0.10"><span class="toc-item-num">1.0.0.10&nbsp;&nbsp;</span>Identify the pokemon whose <code>A/D Ratio</code> are among the top 5.</a></span></li><li><span><a href="#For-the-5-pokemon-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values." data-toc-modified-id="For-the-5-pokemon-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values.-1.0.0.11"><span class="toc-item-num">1.0.0.11&nbsp;&nbsp;</span>For the 5 pokemon printed above, aggregate <code>Combo Type</code> and use a list to store the unique values.</a></span></li><li><span><a href="#For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemon." data-toc-modified-id="For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemon.-1.0.0.12"><span class="toc-item-num">1.0.0.12&nbsp;&nbsp;</span>For each of the <code>Combo Type</code> values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [233]:
# import libraries
import pandas as pd
import numpy as np
import regex as re

#### Import data set.

The dataset is here: https://drive.google.com/file/d/1Q3biC9Efii2eRhHcT81XsqSUqKBtK3Zc/view?usp=sharing . Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [234]:
# import data set from Ironhack's database
df=pd.read_csv('/Users/tinghaokao/Desktop/IronHackLabs_Ting/Module_1/Lab_29/Data Files/Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [235]:
# your code here
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [236]:
# your code here
df[['Type 1', 'Type 2']]
distinct_values = (df['Type 1'].append(df['Type 2'])).unique()
distinct_values

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', nan], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [237]:
# your code here
df['Name'] = np.where(df['Name'].str.contains('Mega'),df['Name'].str.replace(".*(?=Mega)", "", regex=True),df['Name'])
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [238]:
# your code here
df['A/D Ratio'] = df['Attack']/df['Defense']
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [239]:
# your code here
highest_AD = df[['Name','A/D Ratio']].sort_values(['A/D Ratio'], ascending = False).head(1)
highest_AD

                   Name  A/D Ratio
429  DeoxysAttack Forme        9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [240]:
# your code here
lowest_AD = df[['Name','A/D Ratio']].sort_values(['A/D Ratio'], ascending = True).head(1)
lowest_AD

        Name  A/D Ratio
230  Shuckle   0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [241]:
# your code here
df['Combo Type'] = df['Type 1'] + ' ' + df['Type 2'].fillna('')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [242]:
# your code here
top_5_AD = df[['Name','A/D Ratio']].sort_values(['A/D Ratio'], ascending = False).head(5)
top_5_AD

                   Name  A/D Ratio
429  DeoxysAttack Forme      9.000
347            Carvanha      4.500
19        Mega Beedrill      3.750
453            Cranidos      3.125
348            Sharpedo      3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [243]:
# your code here
df_final = pd.merge(top_5_AD, df, on='A/D Ratio')
df_final[['Combo Type', 'A/D Ratio']].head(5)

   Combo Type  A/D Ratio
0    Psychic       9.000
1  Water Dark      4.500
2  Bug Poison      3.750
3       Rock       3.125
4  Water Dark      3.000

In [247]:
top_5 =df_final.sort_values('A/D Ratio', ascending = False)[:5]
top_5

,Name_x,A/D Ratio,#,Name_y,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type
0,DeoxysAttack Forme,9.000,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,Psychic
1,Carvanha,4.500,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,Water Dark
2,Mega Beedrill,3.750,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Bug Poison
3,Cranidos,3.125,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,Rock
4,Sharpedo,3.000,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,Water Dark

In [249]:
top_5_combo = sorted(list(top_5['Combo Type'].unique()))
top_5_combo

['Bug Poison', 'Psychic ', 'Rock ', 'Water Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [262]:
# your code here
mean_values = df_final.groupby('Combo Type', as_index = False).mean()
mean_values = mean_values[mean_values['Combo Type'].isin(top_5_combo)]
mean_values

,Combo Type,A/D Ratio,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bug Poison,3.750,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,0.0
1,Psychic,6.000,386.0,600.0,50.0,165.0,35.0,165.0,35.0,150.0,3.0,1.0
2,Rock,3.125,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,0.0
4,Water Dark,3.750,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,0.0